/* цвет основного текста #212121 */
/* вторичный цвет #757575 */
/* акцент #2196F3 */
/* вторичный цвет фона #F5F4FA; */

:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --background-color: #ffffff;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--title-text-color);
  background-color: #ffffff;
  letter-spacing: 0.03em;
}
ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
h3,
p,
h2 {
  margin-top: 0;
  margin-bottom: 0;
}
.page-header {
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* header */

.main-nav {
  display: flex;
  align-items: center;
}
.main {
  display: flex;
  align-items: center;
}

.auth {
  display: flex;

  margin-left: auto;

  list-style: none;

  margin-top: 0;
  margin-bottom: 0;
}
.accent,
.auth-mail {
  color: var(--accent-color);
}
.logo {
  color: black;

  text-decoration: none;

  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  color: var(--primary-text-color);

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  text-decoration: none;
}
.site-nav .link.current {
  color: var(--accent-color);
}

.auth .item + .item {
  margin-left: 50px;
}
.auth .link {
  color: var(--title-text-color);

  list-style: none;
}

.link {
  text-decoration: none;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus,
.auth .link:hover,
.auth .link:focus {
  color: var(--accent-color);
}
.page-header {
  border-bottom: 1px solid #ececec;

  padding: 24px 0 25px;
}

/* section чем мы занимаемся*/
.section-title {
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;

  margin-bottom: 50px;
  text-align: center;
}
.section-work {
  display: flex;
  flex-wrap: wrap;
}

.foto {
  margin-right: 30px;
}
.foto:nth-child(3n) {
  margin-right: 0;
}

/* business slogan Эффективные решения */
.section-business {
  background: #2f303a;
  text-align: center;
}
.slogan {
  color: #ffffff;
  padding-top: 200px;
  margin-top: 0;
  margin-bottom: 40px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;

  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.section-business .section-button {
  background-color: var(--accent-color);
  color: #ffffff;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  align-items: center;

  letter-spacing: 0.06em;
  font-family: Roboto, sans-serif;
}
.section-button {
  padding: 10px 32px;

  margin-bottom: 200px;

  border-radius: 4px;
  border: 1px solid transparent;
}
/* -----advantage секция преимуществ----- */
.visually-hidden {
  outline: 2px solid tomato;
}
.feature-list {
  display: flex;
}
.feature-list .list-title {
  width: 270px;
  margin-right: 30px;
}
.feature-list .list-title:nth-child(4n) {
  margin-right: 0;
}

.advantage {
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  margin-bottom: 10px;
}

.title {
  font-size: 14px;
  line-height: 1.71;
}

.advantage-title {
  color: var(--primary-text-color);

  margin-top: 30px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
}
/* -----------Наша команда--------- */
.accent-team {
  background-color: #f5f4fa;
}
.our-team {
  display: flex;
  flex-wrap: wrap;
}

.team {
  margin-right: 30px;
  margin-bottom: 30px;
}
.team:nth-child(4n) {
  margin-right: 0;
}
.position {
  margin-top: 10px;

  font-size: 16px;
  line-height: 1.9;
  text-align: center;
}

/* footer */
.footer {
  background-color: #2f303a;
}
.logo-footer {
  text-decoration: none;

  color: #ffffff;

  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.address {
  font-style: normal;
  color: #ffffff;

  margin-bottom: 9px;

  font-size: 14px;
  line-height: 1.71;
}

.accent-logo {
  padding-top: 60px;
}

.address-contact {
  padding-bottom: 60px;
  margin-top: 20px;
}
.auth .link-address {
  font-size: 14px;
  line-height: 1.71px;
  font-style: normal;

  text-decoration: none;

  color: rgba(255, 255, 255, 0.6);
}
.auth .link-address:hover,
.auth .link-address:focus {
  color: var(--accent-color);
}
.contact {
  display: block;
}

/* button */
.button {
  display: inline-block;
  padding: 6px 22px;
  border-radius: 4px;
  border: 1px solid transparent;
  background-color: #f5f4fa;
  color: var(--primary-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;

  cursor: pointer;
}
.button:hover,
.button:focus {
  background-color: var(--accent-color);
  color: #ffffff;
  border-color: transparent;
}
/* sectione-services Портфолио*/

.sectione-services {
  color: var(--primary-text-color);

  padding: 20px 24px 4px;

  border-left: 1px solid #ececec;
  border-right: 1px solid #ececec;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.hidden {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.section-hidden {
  padding-top: 94px;
  padding-bottom: 94px;
}
.button {
  margin-right: 6px;
}
.button:nth-child(5n) {
  margin-right: 0;
}
.main-services {
  display: flex;
  flex-wrap: wrap;
  padding-top: 34px;
}

.services {
  font-size: 16px;
  line-height: 1.88;

  padding: 0 24px 20px;
  margin-bottom: 30px;

  border-left: 1px solid #ececec;
  border-right: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
}
.flex-element {
  width: 370px;
  margin-right: 30px;
}
.flex-element:nth-child(3n) {
  margin-right: 0;
}
.flex-element:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
